body {
    font-family: 'Arial', sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
  }

  .logo {
    width: 60px;
    margin-left: 270px;
  }

  .container {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input-field,
  .custom-amount input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }

  .plan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }

  .plan.selected {
    border: 2px solid #4B0082;
    background-color: #eee9f5;
  }

  .plan img {
    width: 60px;
    height: auto;
    border-radius: 8px;
    margin-left: 15px;
  }

  .plan-info {
    flex: 1;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #4B0082;
    text-align: left;
  }

  .validity {
    font-size: 14px;
    color: #888;
  }

  .custom-amount {
    margin-top: 20px;
  }

  .custom-amount label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }

  #boxtex123{
      background-color: #ffffff;
  }

  #tex123{
    color: #666;
    text-align: right;
  }
  
  .result {
    font-weight: bold;
    color: #4B0082;
  }
  .result {
    font-weight: bold;
    color: #4B0082;
  }

  #custom{
      width: 370px;
  }